h1 {
  text-align: center;
  color: #7732CD;
  font-size: 100px;
}

h2 {
  text-align: center;
  color: #7732CD;
  font-style: italic;
  font-size: 30px;
}

img {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body {
  background-color: #32CD77;
  font-family: sans-serif;
  line-height: 150%;
}

p {
  text-align: center;
  color: #CD7732;
}